# Copie ce fichier en ".env" et remplis les valeurs

# URL du webhook Discord (voir README pour savoir comment le créer)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX

# Intervalle de scan en millisecondes (5 minutes = 300000)
SCAN_INTERVAL_MS=300000
